
header{
  height: 10%;
  width: 100%;
  background-color: #01848f;

}
.textpresent{
  color: white;
  font-size: 2.5rem;
  margin-left:40%;
}
.img-present {
  margin-top: 15%;
  position: absolute;
  height: 50%;
}



/*cifrando y descifrando*/

/*Cifrando*/
.container-cipher{
 border:1px solid rgb(9, 5, 66);
 background-color: rgb(255, 247, 247);
  width: 38%;
 float: right;
 height: 60%;
 margin-top: 5%;
 margin-right: 10%;
 position: relative;
}

.btn-cifrado{
  margin-top: 5%;
}
.clear, .clear3{ 
  float: right;
  position: absolute;
  margin-top: 1%;
}

.form-group{
  margin-left: 1%;
}
.result{
  font-size: 2rem;
  margin-left: 10%;
}

.h30 {
  height: 20vh;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 5%;

}

.border-grey {
  border: 1px solid #ced4da;
}
h3{
  text-align: center;
  color:darkblue;
}
/*Descifrando*/
.container-descipher{
  border:1px solid rgb(9, 5, 66);
  background-color: rgb(255, 247, 247);
  width: 38%;
  height: 50%;
  margin-top: 32%;
  margin-left: 51%;
  position: absolute;
  margin-bottom: 10%;
 }