
header{
  height: 13%;
  width: 100%;
  background-color: #01848f;
  position: fixed;

}
.textpresent{
  color: white;
  font-size: 2.5rem;
  margin-left:40%;
}

/*cifrando y descifrando*/

.container-cipher, .container-descipher{
 border:1px solid rgb(9, 5, 66);
 background-color: rgb(255, 247, 247);
 height: 50%;
 width: 38%;
 margin-top: 18%;
 position: absolute;
 margin-left: 10%;
 
}

.btn-cifrado, .btn-descifrado{
  margin-top: 5%;
}
.clear, .clear3{ 
  float: right;
  position: absolute;
  margin-top: 1%;
}

.form-group{
  margin-left: 1%;
}
.result{
  font-size: 2rem;
  margin-left: 10%;
}

.h30 {
  height: 20vh;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 5%;

}

.border-grey {
  border: 1px solid #ced4da;
}
h3{
  text-align: center;
  color:darkblue;
}
/*Descifrando*/
.container-descipher{
  margin-left: 55%;
}